<DOCTYPE html>
<html>
    <head>
        <title>
            Memory Game
        </title>
        <link rel="stylesheet" type="text/css" href="css/gameStyle.css">
        <script src="js/game.js"></script>
    </head>

    <body onload="zeroArray()">
            <div id = "scoreBox">
                <p id = "scoreLabel">Score</p>
                <p id = "scoreDisplay">10</p>
            </div>

            <form id="quitForm" action="/summary" method="post">
                <input type="hidden" id="scoreField" name="scoreField" value=10>
                <button type="submit" id="quitButton">Quit</button>
            </form>

            <div id="main_container">
                <button id="startButton" onclick="hideStart()">Start</button>
                <div class = "panel" id= "0,0" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "0,1" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "0,2" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "0,3" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "0,4" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "1,0" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "1,1" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "1,2" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "1,3" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "1,4" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "2,0" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "2,1" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "2,2" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "2,3" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "2,4" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "3,0" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "3,1" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "3,2" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "3,3" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "3,4" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "4,0" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "4,1" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "4,2" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "4,3" onclick="clickTile(this.id)"></div>
                <div class = "panel" id= "4,4" onclick="clickTile(this.id)"></div>
            </div>
    </body>
</html>