<DOCTYPE html>
<html>
    <head>
        <title>
            Memory Game
        </title>
        <link rel="stylesheet" type="text/css" href="css/gameStyle.css">
        <script src="js/game.js"></script>
    </head>

    <body onload="zeroArray()">
            <div id = "scoreBox">
                <p id = "scoreLabel">Score</p>
                <p id = "scoreDisplay">10</p>
            </div>

            <form id="quitForm" action="/summary" method="post">
                <input type="hidden" id="scoreField" name="scoreField" value=10>
                <button type="submit" id="quitButton">Quit</button>
            </form>
            <div id ="wrapper">
                <button id="startButton" onclick="hideStart()">Start</button>
                <button id="restartButton" onclick="restart()">Restart</button>
                <div id="main_container">
                </div>
            </div>
    </body>
</html>